black==23.7.0
click==8.1.7
ipykernel==6.17.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1693580003080/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1693317508789/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1686775719487/work
mypy-extensions==1.0.0
numpy==1.25.2